:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-color-hover: #404bbf;
  --primary-bg-color: #ffffff;
  --secodary-text-color: #ffffff;
  --main-bcg-color: #f4f4fd;
  --button-main-color: #f4f4fd;
  --button-border-color: #e7e9fc;
}

/*main text color:#434455*/
/*accent color: #4D5AE5*/

.list {
  list-style: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  width: 1440px;
  font-size: 16px;
}
.header {
  width: 1440px;
  background-color: var(--primary-bg-color);
}

/*logo*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-part {
  color: var(--accent-color);
}
.logo-second {
  color: var(--secodary-text-color);
}

/*block nav*/

.navbar-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--title-text-color);
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--accent-color-hover);
}

/*logo*/

/* address block*/

.contacts-mail {
  text-decoration: none;
  color: var(--primery-text-color);
  font-weight: 400;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 24px;
}
.contacts-mail:hover {
  color: var(--accent-color-hover);
}

.contacts-tel {
  text-decoration: none;
  color: var(--primery-text-color);
  font-weight: 400;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-left: 40px;
  margin-right: 150px;
}

.contacts-tel:hover {
  color: var(--accent-color-hover);
}

/*hero block*/
.hero {
  color: var(--secodary-text-color);
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-title {
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  line-height: 1.1;
  padding-top: 188px;
  padding-bottom: 48px;
  padding-left: 472px;
  padding-right: 472px;
  margin: 0 auto;
  letter-spacing: 0.02;
}

.hero-btn {
  color: var(--secodary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 48px;
  margin: 0 auto;
  display: block;
  border: none;
}

.hero-btn:hover {
  background-color: var(--accent-color-hover);
}
/*features*/
.features .list {
  display: inline-block;
}

.work-list {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  display: inline;
}
.features-title,
.team-member {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
}
.features-text {
  width: 264px;
  height: 72px;

  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02;
}

/*competence*/

.work-title,
.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  width: 1440px;
  line-height: 1.1;
  letter-spacing: 0.02;
}
/*work*/
.potfolio-list {
  font-size: 20px;
}
/*team*/
.team-block {
  background-color: var(--primary-bg-color);

  width: 264px;
  text-align: center;
  display: inline-block;
}
.team-member {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  height: 24px;
}
.team-block p {
  font-weight: 400;
  font-size: 16px;
  height: 24px;
}

.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  width: 1440px;
}

.team-image {
  background-color: var(--primary-bg-color);
}

/*footer*/
.footer {
  color: var(--secodary-text-color);
  background-color: #2e2f42;
  width: 1440px;
  height: 310px;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02;
  width: 264px;
  height: 72px;
  margin-left: 156px;
}
.footer .logo {
  margin-left: 156px;
}

/*<page portfolio>*/

/*buttons*/

.buttons-list {
  display: flex;
}
.buttons-list .type {
  list-style: none;
}
/* portfolio*/
.type .all {
  border-color: var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--accent-color);
  border-radius: 4px;
  border-width: 1px;
  width: 69px;
  height: 48px;
}

.type .all:hover {
  border-color: var(--button-border-color);
  background-color: var(--accent-color-hover);
  color: var(--secodary-text-color);
  border-radius: 4px;
  border-width: 1px;
}

.type .website {
  border-color: var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--accent-color);
  border-radius: 4px;
  border-width: 1px;
  width: 116px;
  height: 48px;
}
.type .website:hover {
  border-color: var(--button-border-color);
  background-color: var(--accent-color-hover);
  color: var(--secodary-text-color);
  border-radius: 4px;
  border-width: 1px;
}

.type .app {
  border-color: var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--accent-color);
  border-radius: 4px;
  border-width: 1px;
  width: 78px;
  height: 48px;
}
.type .app:hover {
  border-color: var(--button-border-color);
  background-color: var(--accent-color-hover);
  color: var(--secodary-text-color);
  border-radius: 4px;
  border-width: 1px;
}

.type .design {
  border-color: var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--accent-color);
  border-radius: 4px;
  border-width: 1px;
  width: 101px;
  height: 48px;
}
.type .design:hover {
  border-color: var(--button-border-color);
  background-color: var(--accent-color-hover);
  color: var(--secodary-text-color);
  border-radius: 4px;
  border-width: 1px;
}

.type .marketting {
  border-color: var(--button-border-color);
  background-color: var(--button-main-color);
  color: var(--accent-color);
  border-radius: 4px;
  border-width: 1px;
  width: 126px;
  height: 48px;
}
.type .marketting:hover {
  border-color: var(--button-border-color);
  background-color: var(--accent-color-hover);
  color: var(--secodary-text-color);
  border-radius: 4px;
  border-width: 1px;
}
